@model IEnumerable<Product>

@{
    ViewBag.Title = "Все продукты";
    Layout = "_AdminLayout";
}

@if (!Model.Any())
{
    <div class="text-center m-2">
        <form asp-action="SeedDatabase" method="post">
            <button type="suЬmit" class="Ьtn Ьtn-danger">Seed DataЬase</button>
        </form>
    </div>
}
else {

<table class="table table-striped table-bordered table-sm">

    <tr>
        <th class="text-right">ID</th>
        <th>Наименование товара</th>
        <th class="text-right">Цена</th>
        <th class="text-center">Действие</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td class="text-right">@item.ProductID</td>
            <td>@item.Name</td>
            <td class="text-right">@item.Price.ToString("c")</td>


            <td class="text-center">
                <form asp-action="Delete" method="post">
                    <a asp-action="Edit" class="btn btn-sm btn-warning"
                       asp-route-productid="@item.ProductID">
                        Редактировать
                    </a>
                    <input type="hidden" name="ProductID" value="@item.ProductID"/>
                    <button type="submit" class="btn btn-danger btn-sm">
                        Удалить
                    </button>
                </form>
            </td>
        </tr>
    }

</table>
}
<div class="text-center">
    <a asp-action="Create" class="btn btn-primary">Добавить продукт</a>
</div>
